*{
    margin:0px;
}
.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.form{
    height: 400px;
    width:500px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.email{
    height: 200px;
    margin-top: 10px;
}
.password{
    height:80px;
    margin-top: 20px;
}
input{
    height:40px;
    width:300px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 3px solid black;
}
input:active{
    border: 3px solid black;
}
.input1{
    margin-left: 34px;
}
.input2{
    margin-left: 10px;
}
label{
    font-size: 20px;
    color: black ;
}

button{
    height:30px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(244, 152, 39);
    border:none;
}
.button{
    height:30px;
    width:80px;
    margin-left: 180px;
    margin-bottom:0px;
}
button:hover{
    border:3px solid black;
}

.content{
    height: 100px;
    width:400px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 40px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 15px;
}
